.idea
.ipynb_checkpoints
cgp_candidates.ipynb
extras/hs_scaffolds/intermediates
run_evals.sh
__pycache__
argparse
cgp_out
ensembl*
eval*
extras/annotation.csv
extras/builds.txt
extras/coding_no_overlap.csv
extras/hs_builds
extras/hs_scaffolds/*.csv
extras/hs_scaffolds/*.gff3
extras/hs_scaffolds/*.fa
extras/hs_scaffolds/all_seqs.*
extras/hs_scaffolds/blasts
extras/hs_scaffolds/scaffolds*
extras/species*
glyc
invertebrates*
matas
meh
multis
ncbi*
queries
sample_query
notes
known
extras/metazoa/
